Repository ArkStation13/Ark-Station-13, pull requests merged in 2024-06, with the labels that each got.

#276 NSS Journey
  _maps/ark_map_files/ark_maps/NSSJourney.dmm
  _maps/nssjourney.json
Labels: Map Modification

#299 Update _basemap.dm
  _maps/_basemap.dm
Labels: Map Modification

#305 NSS Journey Color Fix
  _maps/ark_map_files/ark_maps/NSSJourney.dmm
Labels: Map Modification

#312 NSS Journey Update Vol.2
  _maps/ark_map_files/ark_maps/NSSJourney.dmm
Labels: Map Modification

#333 Maps Update Vol.2 #319 Second Try
  _maps/ark_map_files/ark_maps/NSSJourney.dmm
  _maps/ark_map_files/ark_maps/Ouroboros.dmm
Labels: Map Modification

#332 Medbay Green Airlocks
  modular_nova/modules/automapper/code/area_spawn_entries.dm
  tgstation.dme
  zov_modular_arkstation/modules/new-airlocks/code.dm
  zov_modular_arkstation/modules/new-airlocks/icons/service.dmi
  zov_modular_arkstation/modules/new-airlocks/icons/virology.dmi
Labels: Sprites

#454 Upstream merge 2955
  modular_nova/master_files/icons/donator/mob/clothing/suit.dmi
  modular_nova/master_files/icons/donator/obj/clothing/suits.dmi
  modular_nova/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Sprites

#463 missedpr
  _maps/nova/automapper/automapper_config.toml
  _maps/nova/automapper/templates/wawastation/wawastation_arrivals.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_commons.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_corridor.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_kiosk.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_lockers.dmm
  _maps/nova/automapper/templates/wawastation/wawastation_ntrep_office.dmm
  modular_nova/master_files/code/modules/transport/tram/tram_floors.dm
  modular_nova/modules/mapping/code/areas/station.dm
  modular_nova/modules/time_clock/code/sign.dm
  modular_nova/modules/time_clock/icons/sign.dmi
  tgstation.dme
Labels: Map Modification, Sprites

#520 Added Thirst
  _maps/ark_map_files/ark_maps/PubbyStation.dmm
  code/__DEFINES/hud.dm
  code/__DEFINES/~~arkstation_defines/thirst.dm
  code/__DEFINES/~~arkstation_defines/traits_declaration.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/carbon_movement.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/species_types/abductors.dm
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/carbon/human/species_types/skeletons.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/research/xenobiology/crossbreeding/regenerative.dm
  code/modules/surgery/organs/internal/stomach/_stomach.dm
  modular_nova/modules/synths/code/species/synthetic.dm
  tgstation.dme
  zov_modular_arkstation/modules/thirst/code.dm
Labels: Map Modification

#526 [DO NOR MERGE]-[WORK IN PROGRESS] Omega Station Updates
  _maps/_basemap.dm
  _maps/ark_map_files/ark_maps/OmegaStation.dmm
  _maps/omegastation.json
Labels: Map Modification

#562 Red Security Update
  code/game/objects/items/storage/garment.dm
  code/modules/jobs/job_types/warden.dm
  modular_nova/modules/goofsec/code/sec_clothing_overrides.dm
  zov_modular_arkstation/modules/clothing-update/code/_vendor.dm
  zov_modular_arkstation/modules/clothing-update/code/shoes.dm
  zov_modular_arkstation/modules/clothing-update/code/suit.dm
  zov_modular_arkstation/modules/clothing-update/code/under.dm
  zov_modular_arkstation/modules/clothing-update/icons/sec_reskins/mob/mob.dmi
  zov_modular_arkstation/modules/clothing-update/icons/sec_reskins/obj/obj.dmi
Labels: Sprites
