Repository ArkStation13/Ark-Station-13, pull requests merged in 2024-08, with the labels that each got.

#1426 Новые маркинги
  tgstation.dme
  zov_modular_arkstation/modules/markings/code/eyes.dm
  zov_modular_arkstation/modules/markings/code/hair.dm
  zov_modular_arkstation/modules/markings/code/markings.dm
  zov_modular_arkstation/modules/markings/code/wings.dm
  zov_modular_arkstation/modules/markings/icons/eyes.dmi
  zov_modular_arkstation/modules/markings/icons/hair.dmi
  zov_modular_arkstation/modules/markings/icons/snouts.dmi
  zov_modular_arkstation/modules/markings/icons/wings.dmi
Labels: Sprites

#1430 F
  config/game_options.txt
  config/lavaruinblacklist.txt
  tgstation.dme
  tools/UpdatePaths/Scripts/74651_apc_to_apc_helpers.txt
  tools/UpdatePaths/Scripts/82942_cigs_vape_repath.txt
  tools/UpdatePaths/Scripts/83451_basic_gondola.txt
  tools/UpdatePaths/Scripts/83861_firebots.txt
  tools/UpdatePaths/Scripts/84079_cell_updates.txt
  tools/UpdatePaths/Scripts/84235_vatgrower_machine.txt
  tools/UpdatePaths/Scripts/84812_incident_display_repath.txt
  tools/UpdatePaths/Scripts/84819_replace_flat_white_catwalks.txt
  tools/UpdatePaths/Scripts_Nova/27934_poppy_to_basic.txt
  tools/ci/run_server.sh
  zov_modular_arkstation/modules/bloodsucker/code/bloodsuckers/bloodsucker.dm
  zov_modular_arkstation/modules/hunting-knife-buff/readme.md
  zov_modular_arkstation/modules/infinidoorm/readme.md
  zov_modular_arkstation/modules/kvass-and-kefir/code.dm
  zov_modular_arkstation/modules/kvass-and-kefir/objects.dmi
  zov_modular_arkstation/modules/kvass-and-kefir/readme.md
  zov_modular_arkstation/modules/languages/code/languages.dm
  zov_modular_arkstation/modules/languages/readme.md
  zov_modular_arkstation/modules/laws-translate/readme.md
  zov_modular_arkstation/modules/light-change/code.dm
  zov_modular_arkstation/modules/light-change/readme.md
Labels: Sprites, Config Modification

#1433 Returned
  zov_modular_arkstation/modules/markings/code/hair.dm
  zov_modular_arkstation/modules/markings/icons/hair.dmi
Labels: Sprites

#1440 New Two Snouts
  tgstation.dme
  zov_modular_arkstation/modules/markings/code/hair.dm
  zov_modular_arkstation/modules/markings/code/markings.dm
  zov_modular_arkstation/modules/markings/code/snouts.dm
  zov_modular_arkstation/modules/markings/icons/hair.dmi
  zov_modular_arkstation/modules/markings/icons/snouts.dmi
Labels: Sprites

#1442 Fixes
  code/modules/paperwork/pen.dm
  tgui/packages/tgui/interfaces/Orbit/JobIcon.tsx
  zov_modular_arkstation/modules/big-sprites-pack/pensandlabelerandpaper.dmi
Labels: Sprites

#1444 Pens Animation Optimisation
  code/modules/paperwork/pen.dm
  zov_modular_arkstation/modules/big-sprites-pack/pensandlabelerandpaper.dmi
Labels: Sprites

#1449 Green Bedsheets and NT in TGUI
  tgstation.dme
  tgui/packages/tgui/styles/main.scss
  zov_modular_arkstation/modules/new-bedsheets-sprites/code.dm
  zov_modular_arkstation/modules/new-bedsheets-sprites/icons/bedsheet_lefthand.dmi
  zov_modular_arkstation/modules/new-bedsheets-sprites/icons/bedsheet_righthand.dmi
  zov_modular_arkstation/modules/new-bedsheets-sprites/icons/bedsheets.dmi
  zov_modular_arkstation/modules/new-bedsheets-sprites/icons/neck.dmi
  zov_modular_arkstation/modules/new-boxes-sprites/code.dm
Labels: Sprites

#1454 Фиксы ляпов карты
  _maps/ark_map_files/ark_maps/tramstation.dmm
Labels: Map Modification

#1459 Some Update
  _maps/ark_map_files/ark_maps/Ouroboros.dmm
  code/controllers/subsystem/dynamic/dynamic_rulesets_latejoin.dm
  code/controllers/subsystem/dynamic/dynamic_rulesets_midround.dm
  code/controllers/subsystem/dynamic/dynamic_rulesets_roundstart.dm
  code/datums/ruins/space.dm
  modular_nova/modules/mapping/code/space.dm
Labels: Map Modification

#1462 Новые рожки
  tgstation.dme
  zov_modular_arkstation/modules/markings/code/horns.dm
  zov_modular_arkstation/modules/markings/icons/horns.dmi
Labels: Sprites

#1463 Замена шкафа НТР
  _maps/ark_map_files/ark_maps/tramstation.dmm
Labels: Map Modification

#1451 [PORT] Аура доминанта и обновление пиксель-шифтинга с Skyrat.
  code/__DEFINES/~nova_defines/keybindings.dm
  modular_nova/modules/pixel_shift/code/pixel_shift_component.dm
  modular_nova/modules/pixel_shift/code/pixel_shift_keybind.dm
  modular_nova/modules/pixel_shift/code/pixel_shift_mob.dm
  tgstation.dme
  zov_modular_arkstation/_master_files/code/__DEFINES/~~ark_defines/cooldowns.dm
  zov_modular_arkstation/_master_files/code/__DEFINES/~~ark_defines/mood.dm
  zov_modular_arkstation/_master_files/code/controllers/subsystem/processing/quirks.dm
  zov_modular_arkstation/_master_files/code/datums/mood_events/dominant_mood.dm
  zov_modular_arkstation/_master_files/code/modules/autolathe_components_adv/advpartdisks.dm
  zov_modular_arkstation/_master_files/code/modules/quirks/code/negative_quirks/well_trained.dm
  zov_modular_arkstation/_master_files/code/modules/quirks/code/positive_quirks/dominant_aura.dm
Labels: Test Merge Candidate

#1466 Linux Runtimes Fixed!
  .github/workflows/ci_suite.yml
  .github/workflows/statcounter.yml
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/machines.dm
  code/controllers/master.dm
  code/controllers/subsystem/dbcore.dm
  code/modules/religion/pyre/pyre_rites.dm
  config/maps.txt
  modular_nova/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
  tgui/packages/tgui/interfaces/common/JobToIcon.ts
  tools/ci/run_server.sh
  zov_modular_arkstation/modules/new-roles/code/stowaway.dm
  zov_modular_arkstation/modules/quirks/positive/faster_run.dm
Labels: Config Modification

#1473 Sprites Back
  _maps/serenitystation.json
  _maps/snowglobe.json
  _maps/wawastation.json
  zov_modular_arkstation/modules/new-plitka/code.dm
  zov_modular_arkstation/modules/new-walls/code.dm
  zov_modular_arkstation/modules/new-windows/code.dm
Labels: Map Modification

#1474 Light Rofls
  code/__DEFINES/~~arkstation_defines/turfs.dm
  code/datums/components/overlay_lighting.dm
  tgstation.dme
  zov_modular_arkstation/modules/dynamic_flashlight/code.dm
  zov_modular_arkstation/modules/dynamic_flashlight/eris_flashlight.dmi
Labels: Sprites

#1476 Bluespace Soup Pot
  code/modules/research/techweb/nodes/research_nodes.dm
  tgstation.dme
  zov_modular_arkstation/modules/antagonists-objectives-update/objectives.dm
  zov_modular_arkstation/modules/bluespace-soup-pot/code.dm
  zov_modular_arkstation/modules/bluespace-soup-pot/kitchen.dmi
  zov_modular_arkstation/modules/clothing-update/code/_loadout.dm
Labels: Sprites

#1479 Маркинги для акрадоров
  tgstation.dme
  zov_modular_arkstation/modules/markings/code/ears.dm
  zov_modular_arkstation/modules/markings/code/plain.dm
  zov_modular_arkstation/modules/markings/code/snouts.dm
  zov_modular_arkstation/modules/markings/code/tails.dm
  zov_modular_arkstation/modules/markings/icons/32x48_ears.dmi
  zov_modular_arkstation/modules/markings/icons/plain.dmi
  zov_modular_arkstation/modules/markings/icons/snouts.dmi
  zov_modular_arkstation/modules/markings/icons/tails.dmi
Labels: bug, invalid, Sprites

#1483 Black Mesa Add
  _maps/RandomZLevels/blackmesa.dmm
  _maps/ark_map_files/ark_maps/MetaStation.dmm
  _maps/ark_map_files/ark_maps/NSSJourneynewwip.dmm
  code/modules/unit_tests/simple_animal_freeze.dm
  config/awaymissionconfig.txt
  modular_nova/modules/decay_subsystem/code/nests.dm
  modular_nova/modules/hev_suit/code/hev_suit.dm
  zov_modular_arkstation/modules/new-windows/code.dm
  zov_modular_arkstation/modules/vanguard-revival/_vanguard.dm
Labels: Map Modification, Config Modification

#1501 Church and Markings Update
  code/__DEFINES/~~arkstation_defines/radio.dm
  code/controllers/subsystem/blackbox.dm
  code/controllers/subsystem/economy.dm
  code/game/machinery/telecomms/machines/bus.dm
  code/game/machinery/telecomms/machines/receiver.dm
  code/game/machinery/telecomms/machines/server.dm
  code/game/objects/items/mail.dm
  code/modules/mob/living/living_say.dm
  tgui/packages/tgui/constants.ts
  zov_modular_arkstation/modules/church-update/clothing.dm
  zov_modular_arkstation/modules/church-update/icons/misc/card.dmi
  zov_modular_arkstation/modules/church-update/jobs.dm
  zov_modular_arkstation/modules/church-update/misc.dm
  zov_modular_arkstation/modules/markings/code/ears.dm
  zov_modular_arkstation/modules/markings/code/hair.dm
  zov_modular_arkstation/modules/markings/code/horns.dm
  zov_modular_arkstation/modules/markings/code/snouts.dm
  zov_modular_arkstation/modules/markings/code/wings.dm
  zov_modular_arkstation/modules/markings/icons/ears.dmi
  zov_modular_arkstation/modules/markings/icons/snouts.dmi
Labels: Sprites

#1503 Перестройка Serenity под современные нужды ARK
  _maps/ark_map_files/ark_maps/SerenityStation.dmm
Labels: Map Modification

#1511 Чиним тесты | Убираем бесконечный цикл в коде "Thirst"
  .github/workflows/ci_suite.yml
  _maps/ark_map_files/ark_maps/MetaStation.dmm
  _maps/ark_map_files/ark_maps/NSSJourney.dmm
  _maps/ark_map_files/ark_maps/SerenityStation.dmm
  _maps/ark_map_files/ark_maps/tramstation.dmm
  _maps/ark_map_files/ark_maps/wawastation.dmm
  _maps/ark_map_files/automapper/automapper_config.toml
  code/datums/mood.dm
  tools/ci/run_server.sh
  zov_modular_arkstation/modules/faction-inteq/code/inteq-outfits.dm
  zov_modular_arkstation/modules/new-boxes-sprites/box.dmi
  zov_modular_arkstation/modules/thirst/code.dm
Labels: Map Modification, Sprites

#1517 Vanguard return PART I
  zov_modular_arkstation/modules/vanguard-revival/_vanguard.dm
  zov_modular_arkstation/modules/vanguard-revival/clothing.dm
  zov_modular_arkstation/modules/vanguard-revival/icons/obj/closet.dmi
  zov_modular_arkstation/modules/vanguard-revival/icons/obj/crates.dmi
Labels: Sprites

#1461 [PORT] Ghost-role cargo update
  code/__DEFINES/~~arkstation_defines/economy.dm
  code/__DEFINES/~~arkstation_defines/subsystems.dm
  code/__DEFINES/~~arkstation_defines/techweb_nodes.dm
  code/controllers/subsystem/economy.dm
  tgstation.dme
  zov_modular_arkstation/_master_files/code/game/machinery/computer/orders/order_computer/cook_order_interdyne.dm
  zov_modular_arkstation/_master_files/code/game/machinery/department_balance.dm
  zov_modular_arkstation/_master_files/code/game/machinery/syndiepad.dm
  zov_modular_arkstation/_master_files/code/modules/cargo/department_budgets.dm
  zov_modular_arkstation/_master_files/code/modules/cargo/expressconsole.dm
  zov_modular_arkstation/_master_files/code/modules/power/code/powerator.dm
  zov_modular_arkstation/_master_files/code/modules/power/code/powerator_subsystem.dm
  zov_modular_arkstation/_master_files/code/modules/power/icons/machines.dmi
  zov_modular_arkstation/_master_files/code/modules/tarkon/research.dm
Labels: Sprites, Test Merge Candidate

#1518 Vanguard return PART II
  zov_modular_arkstation/modules/vanguard-revival/_vanguard.dm
  zov_modular_arkstation/modules/vanguard-revival/icons/mob/clothing/mod_clothing.dmi
  zov_modular_arkstation/modules/vanguard-revival/icons/obj/clothing/mod_clothing.dmi
  zov_modular_arkstation/modules/vanguard-revival/icons/obj/clothing/mod_construction.dmi
Labels: Sprites

#1520 Windowed Shutter Sprite Update
  zov_modular_arkstation/modules/new-blastdoor-sprites/shutters_window.dmi
Labels: Sprites

#1452 [FIX] Pods Fix
  _maps/ark_map_files/ark_maps/tramstation.dmm
  code/modules/events/anomaly/anomaly_vortex.dm
  strings/modular_maps/Tramstation.toml
  tgui/packages/tgui/interfaces/Pod/index.tsx
  zov_modular_arkstation/modules/new-bedsheets-sprites/code.dm
  zov_modular_arkstation/modules/spacepods/code/pods.dm
  zov_modular_arkstation/modules/spacepods/code/structures.dm
  zov_modular_arkstation/modules/vectorvehicle/sound/skid.ogg
Labels: bug, help wanted, Map Modification, Test Merge Candidate

#1527 Fix atmos in caves.dmm
  _maps/RandomZLevels/caves_arkedit.dmm
  config/awaymissionconfig.txt
Labels: Map Modification, Config Modification

#1529 Void Returnal
  _maps/map_files/generic/CentCom_arkstation_rework.dmm
  code/modules/admin/holder2.dm
  code/modules/admin/topic.dm
  tgui/packages/tgui/interfaces/PlayerPanel.tsx
  zov_modular_arkstation/_master_files/code/modules/admin/player_panel.dm
  zov_modular_arkstation/modules/now-we-can-jump/code.dm
  zov_modular_arkstation/modules/void/void.dm
Labels: Map Modification

#1532 New Custom Item
  tgstation.dme
  zov_modular_arkstation/donate/_loadout_for_sponsors.dm
  zov_modular_arkstation/donate/clothing/neck.dm
  zov_modular_arkstation/donate/icons/romontesque/neck_mob.dmi
  zov_modular_arkstation/donate/icons/romontesque/neck_obj.dmi
Labels: Sprites

#1535 Кнопка нормализации своего размера (визуальной)
  code/__DEFINES/~~arkstation_defines/size.dm
  modular_nova/modules/customization/datums/dna.dm
  tgstation.dme
  zov_modular_arkstation/modules/markings/code/horns.dm
  zov_modular_arkstation/modules/markings/icons/horns.dmi
  zov_modular_arkstation/modules/sprites_normalizer/sprites_normalizer.dm
Labels: Sprites

#1537 Add ColorMate to Interlink
  _maps/map_files/generic/CentCom_nova_z2_arkstation_rework.dmm
Labels: Map Modification

#1531 SM and TGUI Update
  code/__DEFINES/shuttles.dm
  code/modules/client/preferences.dm
  code/modules/power/supermatter/supermatter.dm
  tgstation.dme
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
  tgui/packages/tgui/interfaces/PreferencesMenu/ArkStation/CharacterPreferenceWindow.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/ArkStation/GamePreferenceWindow.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/ArkStation/MainPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/ArkStation/data.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
  tgui/packages/tgui/styles/base.scss
  tgui/packages/tgui/styles/colors.scss
  tgui/packages/tgui/styles/components/Button.scss
  tgui/packages/tgui/styles/components/Input.scss
  tgui/packages/tgui/styles/components/NumberInput.scss
  tgui/packages/tgui/styles/reset.scss
  tgui/packages/tgui/styles/themes/ntos.scss
  zov_modular_arkstation/modules/supermatter_distortion/160x160.dmi
  zov_modular_arkstation/modules/supermatter_distortion/224x224.dmi
  zov_modular_arkstation/modules/supermatter_distortion/288x288.dmi
  zov_modular_arkstation/modules/supermatter_distortion/32x32.dmi
  zov_modular_arkstation/modules/supermatter_distortion/96x96.dmi
  zov_modular_arkstation/modules/supermatter_distortion/code.dm
Labels: Sprites

#1538 Map Fixes
  _maps/ark_map_files/ark_maps/IceBoxStation.dmm
  _maps/ark_map_files/ark_maps/MetaStation.dmm
  _maps/ark_map_files/ark_maps/NSSJourney.dmm
  _maps/ark_map_files/ark_maps/snowglobe.dmm
  tgstation.dme
  zov_modular_arkstation/modules/church-update/access_helper.dm
  zov_modular_arkstation/modules/church-update/area.dm
Labels: Map Modification

#1545 Shutters Dir-Sprite Fix
  _maps/ark_map_files/ark_maps/MetaStation.dmm
  zov_modular_arkstation/modules/new-blastdoor-sprites/shutters.dmi
  zov_modular_arkstation/modules/new-blastdoor-sprites/shutters_window.dmi
Labels: Map Modification, Sprites

#1544 Meta & IceBox Maps Fix
  _maps/ark_map_files/ark_maps/IceBoxStation.dmm
  _maps/ark_map_files/ark_maps/MetaStation.dmm
  zov_modular_arkstation/modules/armory_standart_guns/code.dm
Labels: Map Modification

#1546 Maps Tweaks
  _maps/ark_map_files/ark_maps/IceBoxStation.dmm
  _maps/ark_map_files/ark_maps/MetaStation.dmm
  zov_modular_arkstation/modules/black_mesa/code/spawners.dm
Labels: Map Modification

#1549 Changlings spiders+icon
  tgstation.dme
  zov_modular_arkstation/modules/changeling_actions_new_icons/actions_changeling.dmi
  zov_modular_arkstation/modules/changeling_actions_new_icons/code.dm
Labels: Sprites

#1550 [PORT] Добавлено множество шахтерских капсул
  _maps/ark_map_files/pods/listeningbasics.dmm
  _maps/ark_map_files/pods/shelter_3x3.dmm
  _maps/ark_map_files/pods/shelter_4.dmm
  _maps/ark_map_files/pods/shelter_5.dmm
  _maps/ark_map_files/pods/shelter_6x6.dmm
  _maps/ark_map_files/pods/shelter_botany.dmm
  _maps/ark_map_files/pods/shelter_cabin.dmm
  _maps/ark_map_files/pods/shelter_fan.dmm
  _maps/ark_map_files/pods/shelter_kitchen.dmm
  _maps/ark_map_files/pods/shelter_o2.dmm
  _maps/ark_map_files/pods/shelter_s.dmm
  _maps/ark_map_files/pods/shelter_trays.dmm
  tgstation.dme
  zov_modular_arkstation/modules/pods/code/modules/mining/equipment/survival_pod.dm
  zov_modular_arkstation/modules/pods/code/modules/mining/shelters.dm
  zov_modular_arkstation/modules/pods/code/modules/opposing_force/code/equipment/gadgets.dm
  zov_modular_arkstation/modules/pods/code/modules/uplink/uplink_items/bundle.dm
  zov_modular_arkstation/modules/pods/icons/obj/equipment/mining.dmi
Labels: Map Modification, Sprites

#1551 Krashly's Donate Fluff - Demi's Skirt
  tgstation.dme
  zov_modular_arkstation/donate/_loadout_for_sponsors.dm
  zov_modular_arkstation/donate/icons/krashly/scythe/left.dmi
  zov_modular_arkstation/donate/icons/krashly/scythe/obj.dmi
  zov_modular_arkstation/donate/icons/krashly/scythe/right.dmi
  zov_modular_arkstation/donate/~misc/demis_scythe.dm
  zov_modular_arkstation/modules/clothing-update/code/under/under.dm
  zov_modular_arkstation/modules/clothing-update/icons/mob/clothing/under/under.dmi
  zov_modular_arkstation/modules/clothing-update/icons/obj/clothing/under/under.dmi
Labels: Sprites
