Repository ArkStation13/Ark-Station-13, pull requests merged in 2024-05, with the labels that each got.

#45 Исправлены сотни рантаймов
  .github/workflows/ci_suite.yml
  _maps/_basemap.dm
  _maps/ark_map_files/ark_maps/DeltaStation2.dmm
  _maps/ark_map_files/ark_maps/IceBoxStation.dmm
  _maps/ark_map_files/ark_maps/KiloStation2.dmm
  _maps/ark_map_files/ark_maps/MetaStation.dmm
  _maps/ark_map_files/ark_maps/NSSJourney.dmm
  _maps/ark_map_files/ark_maps/OmegaStation.dmm
  _maps/ark_map_files/ark_maps/Ouroboros.dmm
  _maps/ark_map_files/ark_maps/TEMPLATE_MAP_DO_NOT_USE.dmm
  _maps/ark_map_files/ark_maps/VoidRaptor.dmm
  _maps/ark_map_files/ark_maps/north_star.dmm
  _maps/ark_map_files/ark_maps/tramstation.dmm
  _maps/ark_map_files/ark_maps/void_tmp_storate.dmm
  _maps/icebox.json
  _maps/map_files/generic/CentCom_arkstation_rework.dmm
  _maps/map_files/generic/CentCom_nova_z2_arkstation_rework.dmm
  _maps/omegastation.json
  _maps/omegastation.json.backup
  _maps/ouroboros.json
  code/__DEFINES/font_awesome_icons.dm
  code/modules/admin/topic.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/atmospherics_sanity.dm
  code/modules/unit_tests/heretic_rituals.dm
  code/modules/unit_tests/tutorial_sanity.dm
  icons/mob/clothing/back.dmi
  modular_nova/master_files/code/modules/mod/mod_theme.dm
  modular_nova/master_files/code/modules/mod/modules/modules_security.dm
  modular_nova/modules/black_mesa/code/m16_variations.dm
  modular_nova/modules/black_mesa/code/mobs/mob_spawners.dm
  modular_nova/modules/black_mesa/code/mobs/nihilanth.dm
  modular_nova/modules/gunpoint/code/gunpoint.dm
  modular_nova/modules/jukebox/code/dance_machine.dm
  modular_nova/modules/title_screen/code/job_traits.dm
  modular_nova/modules/title_screen/code/station_traits.dm
  tgui/packages/tgui/interfaces/AntagInfoRevengeVassal.tsx
  tgui/packages/tgui/interfaces/Colormate.jsx
  tgui/packages/tgui/interfaces/CommandReport.tsx
  tgui/packages/tgui/interfaces/FuelTank.tsx
  tgui/packages/tgui/interfaces/GhostPoolProtection.jsx
  tgui/packages/tgui/interfaces/LibraryAdmin.tsx
  tgui/packages/tgui/interfaces/PaintingMachine.js
  tgui/packages/tgui/interfaces/ParticleAccelerator.js
  zov_modular_arkstation/_master_files/code/game/objects/items/weaponry.dm
  zov_modular_arkstation/_master_files/icons/toys.dmi
  zov_modular_arkstation/_testing_branch/ss14_melee/weaponry.dm
  zov_modular_arkstation/modules/faction-inteq/code/inteq-outfits.dm
  zov_modular_arkstation/modules/goon-icons-port/goon-devices.dmi
  zov_modular_arkstation/modules/goon-icons-port/goon-instruments.dmi
  zov_modular_arkstation/modules/green-medbay/code.dm
  zov_modular_arkstation/modules/new-morgue-sprites/themorgue.dmi
  zov_modular_arkstation/modules/new-walls/code.dm
  zov_modular_arkstation/modules/spacepods/code/structures.dm
  zov_modular_arkstation/modules/void/void.dm
Labels: Map Modification, Sprites

#114 Pubby Station возвращается!
  _maps/_basemap.dm
  _maps/ark_map_files/ark_maps/PubbyStation.dmm
  _maps/pubbystation.json
Labels: Map Modification

#125 Updatepubby
  _maps/ark_map_files/ark_maps/PubbyStation.dmm
  _maps/pubbystation.json
Labels: Map Modification

#127 Pubby Исправлен свет
  _maps/ark_map_files/ark_maps/PubbyStation.dmm
Labels: Map Modification

#147 PubbyStation update
  _maps/ark_map_files/ark_maps/PubbyStation.dmm
Labels: Map Modification

#151 PubbyEnergySystems
  _maps/ark_map_files/ark_maps/PubbyStation.dmm
Labels: Map Modification

#152 I hate automapper
  _maps/ark_map_files/ark_maps/PubbyStation.dmm
Labels: Map Modification

#154 Kasalerza Donate Clothing
  tgstation.dme
  zov_modular_arkstation/donate/_loadout_for_sponsors.dm
  zov_modular_arkstation/donate/clothing/suit.dm
  zov_modular_arkstation/donate/clothing/underwear.dm
  zov_modular_arkstation/donate/icons/kasalerza/boobasuit_mob.dmi
  zov_modular_arkstation/donate/icons/kasalerza/boobasuit_obj.dmi
Labels: Sprites

#197 Pubby Update
  _maps/ark_map_files/ark_maps/PubbyStation.dmm
Labels: Map Modification
