Repository ArkStation13/Ark-Station-13, pull requests merged in 2024-12, with the labels that each got.

#1598 falsewall fix
  modularz_arkstation/modules/new-walls/code.dm
  modularz_arkstation/modules/new-walls/walls/rwalls/reinforced_wall.dmi
  modularz_arkstation/modules/new-walls/walls/wall.dmi
Labels: Sprites

#1594 Как же я заебался
  _maps/ark_map_files/ark_maps/DeltaStation2.dmm
  _maps/ark_map_files/ark_maps/IceBoxStation.dmm
  _maps/ark_map_files/ark_maps/KiloStation2.dmm
  _maps/ark_map_files/ark_maps/NSSJourney.dmm
  _maps/ark_map_files/ark_maps/PubbyStation.dmm
  _maps/ark_map_files/ark_maps/SerenityStation.dmm
  _maps/ark_map_files/ark_maps/VoidRaptor.dmm
  _maps/ark_map_files/ark_maps/birdshot.dmm
  _maps/ark_map_files/ark_maps/north_star.dmm
  _maps/ark_map_files/ark_maps/tramstation.dmm
  _maps/ark_map_files/ark_maps/wawastation.dmm
Labels: Map Modification

#1599 [TGUI] Fix and Improve Color Picker
  tgui/packages/tgui/interfaces/ColorPickerModal.tsx
Labels: Fix

#1601 add-engines
  _maps/ark_map_files/ark_maps/NSSJourney.dmm
  _maps/ark_map_files/ark_maps/birdshot.dmm
  _maps/ark_map_files/ark_maps/tramstation.dmm
  _maps/ark_map_files/ark_maps/wawastation.dmm
Labels: Map Modification
