Repository ArkStation13/Ark-Station-13, pull requests merged in 2024-09, with the labels that each got.

#1555 Expansion: Hermits' Hideaway - Two New Cabins
  _maps/ark_map_files/RandomRuins/IceRuins/icemoon_underground_hermit.dmm
  _maps/ark_map_files/RandomRuins/LavaRuins/lavaland_surface_hermit.dmm
  config/iceruinblacklist.txt
  config/lavaruinblacklist.txt
  tgstation.dme
  zov_modular_arkstation/modules/ruins-update/code/datums/icemoon.dm
  zov_modular_arkstation/modules/ruins-update/code/datums/lavaland.dm
Labels: Map Modification, Config Modification

#1558 Pubby Armory Fix
  _maps/ark_map_files/ark_maps/PubbyStation.dmm
Labels: Map Modification

#1562 Minor fix of the Ark hermit ruins
  _maps/ark_map_files/RandomRuins/LavaRuins/lavaland_surface_hermit.dmm
Labels: Map Modification

#1563 Void Raptor Very Important Camera Fix
  _maps/ark_map_files/ark_maps/VoidRaptor.dmm
Labels: Map Modification

#1482 Dynamic Balance
  code/controllers/subsystem/dynamic/dynamic.dm
  zov_modular_arkstation/modules/bloodsucker/code/dynamic_gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  zov_modular_arkstation/modules/bloodsucker/code/dynamic_gamemodes/dynamic/dynamic_rulesets_midround.dm
  zov_modular_arkstation/modules/bloodsucker/code/dynamic_gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Labels: Test Merge Candidate

#1557 Game Mode Vote
  code/controllers/subsystem/persistence/_persistence.dm
  code/controllers/subsystem/ticker.dm
  config/ark/config_ark.txt
  config/config.txt
  tgstation.dme
  zov_modular_arkstation/_master_files/sound/lobby_sound/Serence.ogg
  zov_modular_arkstation/_master_files/statpanel/code.dm
  zov_modular_arkstation/modules/dynamic-vote/code/_config.dm
  zov_modular_arkstation/modules/dynamic-vote/code/gamemode_vote.dm
  zov_modular_arkstation/modules/dynamic-vote/code/perc_saves.dm
Labels: Config Modification, Stale
